.ztree * {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, AppleGothic, sans-serif; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
.ztree {
	COLOR: #333; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; MARGIN: 0px; PADDING-RIGHT: 5px
}
.ztree LI {
	LIST-STYLE-TYPE: none; WHITE-SPACE: nowrap; OUTLINE-WIDTH: 0px; PADDING-BOTTOM: 0px; TEXT-ALIGN: left; PADDING-TOP: 0px; OUTLINE-STYLE: none; PADDING-LEFT: 0px; MARGIN: 0px; LIST-STYLE-IMAGE: none; OUTLINE-COLOR: invert; LINE-HEIGHT: 16px; PADDING-RIGHT: 0px
}
.ztree LI UL {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 18px; MARGIN: 0px; PADDING-RIGHT: 0px
}
.ztree LI UL.line {
	HEIGHT: auto; BACKGROUND: url(./img/line_conn.gif) repeat-y 0px 0px
}
.ztree LI A {
	CURSOR: pointer; TEXT-DECORATION: none; VERTICAL-ALIGN: top; COLOR: #333; PADDING-BOTTOM: 0px; PADDING-TOP: 1px; PADDING-LEFT: 0px; MARGIN: 0px; DISPLAY: inline-block; PADDING-RIGHT: 3px; BACKGROUND-COLOR: transparent
}
.ztree LI A:hover {
	TEXT-DECORATION: underline
}
.ztree LI A.curSelectedNode .curSelectedNode_bg {
	BORDER-TOP: #ffb951 1px solid; BORDER-RIGHT: #ffb951 1px solid; BORDER-BOTTOM: #ffb951 1px solid; COLOR: black; PADDING-TOP: 0px; BORDER-LEFT: #ffb951 1px solid; BACKGROUND-COLOR: #ffe6b0; opacity: 0.8
}
.ztree LI A.curSelectedNode_Edit .curSelectedNode_bg {
	BORDER-TOP: #ffb951 1px solid; HEIGHT: 16px; BORDER-RIGHT: #ffb951 1px solid; BORDER-BOTTOM: #ffb951 1px solid; COLOR: black; PADDING-TOP: 0px; BORDER-LEFT: #ffb951 1px solid; BACKGROUND-COLOR: #ffe6b0; opacity: 0.8
}
.ztree LI A.tmpTargetNode_inner {
	BORDER-TOP: #316ac5 1px solid; HEIGHT: 16px; BORDER-RIGHT: #316ac5 1px solid; BORDER-BOTTOM: #316ac5 1px solid; COLOR: white; PADDING-TOP: 0px; FILTER: alpha(opacity=80); BORDER-LEFT: #316ac5 1px solid; BACKGROUND-COLOR: #316ac5; opacity: 0.8
}
.ztree LI A.tmpTargetNode_prev {
	
}
.ztree LI A.tmpTargetNode_next {
	
}
.ztree LI A INPUT.rename {
	FONT-SIZE: 12px; BORDER-TOP: 0px; HEIGHT: 14px; BORDER-RIGHT: 0px; WIDTH: 80px; BORDER-BOTTOM: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px 0px 2px; BORDER-LEFT: 0px; PADDING-RIGHT: 0px
}
.ztree LI SPAN {
	MARGIN-LEFT: 2px; LINE-HEIGHT: 16px; MARGIN-RIGHT: 2px
}
.ztree LI SPAN.button {
	CURSOR: pointer; BORDER-TOP: 0px; HEIGHT: 16px; BORDER-RIGHT: 0px; WIDTH: 16px; VERTICAL-ALIGN: middle; BACKGROUND-IMAGE: url(./img/zTreeStandard.png); BACKGROUND-REPEAT: no-repeat; BACKGROUND-ATTACHMENT: scroll; BORDER-BOTTOM: 0px; OUTLINE-WIDTH: medium; OUTLINE-STYLE: none; MARGIN: 0px; BORDER-LEFT: 0px; DISPLAY: inline-block; OUTLINE-COLOR: invert; LINE-HEIGHT: 0; BACKGROUND-COLOR: transparent
}
.ztree LI SPAN.chk.button {
	CURSOR: auto; HEIGHT: 13px; WIDTH: 13px; MARGIN: 0px 3px 0px 0px
}
.ztree LI SPAN.checkbox_false_full.chk.button {
	BACKGROUND-POSITION: 0px 0px
}
.ztree LI SPAN.checkbox_false_full_focus.chk.button {
	BACKGROUND-POSITION: 0px -14px
}
.ztree LI SPAN.checkbox_false_part.chk.button {
	BACKGROUND-POSITION: 0px -28px
}
.ztree LI SPAN.checkbox_false_part_focus.chk.button {
	BACKGROUND-POSITION: 0px -42px
}
.ztree LI SPAN.checkbox_false_disable.chk.button {
	BACKGROUND-POSITION: 0px -56px
}
.ztree LI SPAN.checkbox_true_full.chk.button {
	BACKGROUND-POSITION: -14px 0px
}
.ztree LI SPAN.checkbox_true_full_focus.chk.button {
	BACKGROUND-POSITION: -14px -14px
}
.ztree LI SPAN.checkbox_true_part.chk.button {
	BACKGROUND-POSITION: -14px -28px
}
.ztree LI SPAN.checkbox_true_part_focus.chk.button {
	BACKGROUND-POSITION: -14px -42px
}
.ztree LI SPAN.checkbox_true_disable.chk.button {
	BACKGROUND-POSITION: -14px -56px
}
.ztree LI SPAN.radio_false_full.chk.button {
	BACKGROUND-POSITION: -28px 0px
}
.ztree LI SPAN.radio_false_full_focus.chk.button {
	BACKGROUND-POSITION: -28px -14px
}
.ztree LI SPAN.radio_false_part.chk.button {
	BACKGROUND-POSITION: -28px -28px
}
.ztree LI SPAN.radio_false_part_focus.chk.button {
	BACKGROUND-POSITION: -28px -42px
}
.ztree LI SPAN.radio_false_disable.chk.button {
	BACKGROUND-POSITION: -28px -56px
}
.ztree LI SPAN.radio_true_full.chk.button {
	BACKGROUND-POSITION: -42px 0px
}
.ztree LI SPAN.radio_true_full_focus.chk.button {
	BACKGROUND-POSITION: -42px -14px
}
.ztree LI SPAN.radio_true_part.chk.button {
	BACKGROUND-POSITION: -42px -28px
}
.ztree LI SPAN.radio_true_part_focus.chk.button {
	BACKGROUND-POSITION: -42px -42px
}
.ztree LI SPAN.radio_true_disable.chk.button {
	BACKGROUND-POSITION: -42px -56px
}
.ztree LI SPAN.switch.button {
	HEIGHT: 18px; WIDTH: 18px
}
.ztree LI SPAN.root_open.button {
	BACKGROUND-POSITION: -92px -54px
}
.ztree LI SPAN.root_close.button {
	BACKGROUND-POSITION: -74px -54px
}
.ztree LI SPAN.roots_open.button {
	BACKGROUND-POSITION: -92px 0px
}
.ztree LI SPAN.roots_close.button {
	BACKGROUND-POSITION: -74px 0px
}
.ztree LI SPAN.center_open.button {
	BACKGROUND-POSITION: -92px -18px
}
.ztree LI SPAN.center_close.button {
	BACKGROUND-POSITION: -74px -18px
}
.ztree LI SPAN.bottom_open.button {
	BACKGROUND-POSITION: -92px -36px
}
.ztree LI SPAN.bottom_close.button {
	BACKGROUND-POSITION: -74px -36px
}
.ztree LI SPAN.noline_open.button {
	BACKGROUND-POSITION: -92px -72px
}
.ztree LI SPAN.noline_close.button {
	BACKGROUND-POSITION: -74px -72px
}
.ztree LI SPAN.root_docu.button {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.ztree LI SPAN.roots_docu.button {
	BACKGROUND-POSITION: -56px 0px
}
.ztree LI SPAN.center_docu.button {
	BACKGROUND-POSITION: -56px -18px
}
.ztree LI SPAN.bottom_docu.button {
	BACKGROUND-POSITION: -56px -36px
}
.ztree LI SPAN.noline_docu.button {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.ztree LI SPAN.ico_open.button {
	VERTICAL-ALIGN: top; BACKGROUND-POSITION: -110px -16px; MARGIN-RIGHT: 2px
}
.ztree LI SPAN.ico_close.button {
	VERTICAL-ALIGN: top; BACKGROUND-POSITION: -110px 0px; MARGIN-RIGHT: 2px
}
.ztree LI SPAN.ico_docu.button {
	VERTICAL-ALIGN: top; BACKGROUND-POSITION: -110px -32px; MARGIN-RIGHT: 2px
}
.ztree LI SPAN.edit.button {
	VERTICAL-ALIGN: top; BACKGROUND-POSITION: -110px -48px; MARGIN-RIGHT: 2px
}
.ztree LI SPAN.remove.button {
	VERTICAL-ALIGN: top; BACKGROUND-POSITION: -110px -64px; MARGIN-RIGHT: 2px
}
.ztree LI SPAN.ico_loading.button {
	VERTICAL-ALIGN: top; BACKGROUND: url(./img/loading.gif) no-repeat 0px 0px; MARGIN-RIGHT: 2px
}
.ztree LI SPAN.ico.button {
	VERTICAL-ALIGN: top; BACKGROUND: url(./img/loading.gif) no-repeat 0px 0px; MARGIN-RIGHT: 2px
}
UL.tmpTargetzTree {
	FILTER: alpha(opacity=80); BACKGROUND-COLOR: #ffe6b0; opacity: 0.8
}
SPAN.tmpzTreeMove_arrow {
	BORDER-TOP: 0px; HEIGHT: 16px; BORDER-RIGHT: 0px; WIDTH: 16px; BACKGROUND: url(./img/zTreeStandard.png) no-repeat -110px -80px; BORDER-BOTTOM: 0px; POSITION: absolute; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 2px 0px 0px 1px; BORDER-LEFT: 0px; DISPLAY: inline-block; PADDING-RIGHT: 0px
}
UL.zTreeDragUL.ztree {
	OVERFLOW: hidden; BORDER-TOP: #00b83f 1px dotted; HEIGHT: auto; BORDER-RIGHT: #00b83f 1px dotted; WIDTH: auto; BORDER-BOTTOM: #00b83f 1px dotted; POSITION: absolute; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; FILTER: alpha(opacity=80); MARGIN: 0px; BORDER-LEFT: #00b83f 1px dotted; PADDING-RIGHT: 0px; BACKGROUND-COLOR: #cfcfcf; opacity: 0.8
}
.zTreeMask {
	POSITION: absolute; FILTER: alpha(opacity=0); Z-INDEX: 10000; BACKGROUND-COLOR: #cfcfcf; opacity: 0.0
}
