A {
	TEXT-DECORATION: none; COLOR: #686868
}
A:hover {
	TEXT-DECORATION: none; COLOR: #f60
}
.fs_12 {
	FONT-SIZE: 12px
}
.fs_14 {
	FONT-SIZE: 14px
}
.fs_16 {
	FONT-SIZE: 16px
}
.fs_18 {
	FONT-SIZE: 18px
}
.ft_B {
	FONT-WEIGHT: bold
}
.ft_BU {
	TEXT-DECORATION: underline; FONT-WEIGHT: bold
}
.font_1 {
	FONT-SIZE: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #c9c9c9; LINE-HEIGHT: 14px
}
.font_2 {
	FONT-WEIGHT: bold; COLOR: #3f88c3; LINE-HEIGHT: 40px
}
.fc_black {
	COLOR: #000
}
A.fc_black:hover {
	TEXT-DECORATION: none; COLOR: #f60
}
.fc_white {
	COLOR: #fff
}
A.fc_white:hover {
	TEXT-DECORATION: none; COLOR: #f60
}
.fc_red {
	COLOR: #ff0000
}
A.fc_red:hover {
	TEXT-DECORATION: none; COLOR: #f60
}
.fc_green {
	COLOR: #61a208
}
A.fc_green:hover {
	TEXT-DECORATION: none; COLOR: #f60
}
.fc_Yellow {
	COLOR: #fdf001
}
A.fc_Yellow:hover {
	TEXT-DECORATION: none; COLOR: #f60
}
.fc_Orange {
	COLOR: #e36102
}
A.fc_Orange:hover {
	TEXT-DECORATION: none; COLOR: #f60
}
.fc_Orange_u {
	TEXT-DECORATION: underline; COLOR: #e36102
}
A.fc_Orange_u:hover {
	TEXT-DECORATION: underline; COLOR: #f60
}
.fc_Orange_14_b {
	FONT-SIZE: 14px; FONT-WEIGHT: bold; COLOR: #e36102
}
A.fc_Orange_14_b:hover {
	TEXT-DECORATION: none; COLOR: #f60
}
.fc_1 {
	COLOR: #587293
}
A.fc_1:hover {
	TEXT-DECORATION: none; COLOR: #f60
}
.fc_1_2 {
	FONT-WEIGHT: bold; COLOR: #587293
}
A.fc_1_2:hover {
	TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #f60
}
.fc_1_3 {
	TEXT-DECORATION: underline; FONT-WEIGHT: bold; COLOR: #587293
}
A.fc_1_3:hover {
	COLOR: #f60
}
.fc_2 {
	COLOR: #666
}
A.fc_2:hover {
	TEXT-DECORATION: none; COLOR: #f60
}
.fc_3 {
	COLOR: #9a9a9a
}
A.fc_3:hover {
	TEXT-DECORATION: none; COLOR: #f60
}
.fc_4 {
	COLOR: #336799
}
A.fc_4:hover {
	TEXT-DECORATION: none; COLOR: #f60
}
.fc_4_2 {
	FONT-WEIGHT: bold; COLOR: #336799
}
A.fc_4_2:hover {
	TEXT-DECORATION: none; COLOR: #f60
}
.fc_5 {
	TEXT-DECORATION: underline; COLOR: #567393
}
A.fc_5:hover {
	TEXT-DECORATION: underline; COLOR: #f60
}
.fc_6 {
	COLOR: #cc0104
}
A.fc_6:hover {
	TEXT-DECORATION: none; COLOR: #f60
}
.fc_7 {
	COLOR: #064767
}
A.fc_7:hover {
	TEXT-DECORATION: none; COLOR: #f60
}
.fc_8 {
	TEXT-DECORATION: underline; FONT-WEIGHT: bold; COLOR: #587293
}
A.fc_8:hover {
	COLOR: #f60
}
.fc_9 {
	COLOR: #d2d2d2
}
A.fc_9:hover {
	COLOR: #f60
}
.fc_10 {
	COLOR: #787878
}
A.fc_10:hover {
	COLOR: #f60
}
.fc_16 {
	TEXT-DECORATION: underline; COLOR: #0565af
}
A.fc_16:hover {
	TEXT-DECORATION: underline; COLOR: #f00
}
.user_name {
	COLOR: #686868
}
A.user_name:hover {
	TEXT-DECORATION: underline; COLOR: #5ca204
}
