.tab_21 {
	
}
.tab_21 TH {
	WIDTH: 70px; COLOR: #666666; TEXT-ALIGN: right
}
.tab_21 TD {
	COLOR: #7d7d7d; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.tab_21 TD.td_title {
	HEIGHT: 20px; BORDER-BOTTOM: #d6dde5 1px solid; FONT-WEIGHT: bold; PADDING-LEFT: 14px
}
.tab_21 TD.td_title LABEL {
	COLOR: #597195
}
.tab_21 TD.td_title SPAN {
	FONT-SIZE: 12px
}
.tab_21 TD.td_hint_str .hint_bg {
	HEIGHT: 24px; PADDING-LEFT: 20px; MIN-HEIGHT: 24px
}
.tab_21 TD.td_hint_str .hint_bg_y {
	BACKGROUND: url(../../images/icoS3.gif) no-repeat left -1195px
}
.tab_21 TD.td_hint_str .hint_bg_n {
	BACKGROUND: url(../../images/icoS3.gif) no-repeat left -1242px
}
.tab_21 .w250 {
	WIDTH: 250px
}
.tab_22 {
	COLOR: #666666
}
.tab_22 TD {
	PADDING-BOTTOM: 8px; PADDING-TOP: 8px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; _padding: 5px 2px
}
.tab_22 TD SPAN {
	MARGIN-LEFT: 20px; MARGIN-RIGHT: 30px
}
.tab_22 TD SPAN INPUT {
	VERTICAL-ALIGN: -2px; MARGIN-RIGHT: 4px
}
.tblist {
	BORDER-TOP: #c7dcef 1px solid; BORDER-RIGHT: #c7dcef 1px solid; WIDTH: 650px; BORDER-BOTTOM: medium none; COLOR: #666666; BORDER-LEFT: #c7dcef 1px solid; LINE-HEIGHT: 24px
}
.tblist TD {
	BACKGROUND: #fff; BORDER-BOTTOM: #c7dcef 1px solid; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 18px; PADDING-RIGHT: 18px
}
.tblist TD.tblist_first {
	BORDER-TOP: #fff 1px solid; BACKGROUND: #ddeefe; COLOR: #666; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.tblist TD.tblist_first_01 {
	CURSOR: pointer; BORDER-TOP: #fff 1px solid; BACKGROUND: #ddeefe; COLOR: #666; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px
}
.tblist TD.tblist_first_01 A.left {
	CURSOR: pointer; FLOAT: left; FONT-WEIGHT: bold; COLOR: #56718f; PADDING-LEFT: 15px
}
.tblist TD.tblist_first_01 A.left_bg2 {
	BACKGROUND: url(../images/uc/h_extension.gif) no-repeat 0px 7px
}
.tblist TD.tblist_first_01 A.left_bg1 {
	BACKGROUND: url(../images/uc/h_contract.gif) no-repeat 0px 7px
}
.t_title_top {
	COLOR: #999; MARGIN: 10px 0px
}
.text6 {
	BORDER-TOP: #9bbcd7 1px solid; HEIGHT: 20px; BORDER-RIGHT: #9bbcd7 1px solid; BORDER-BOTTOM: #9bbcd7 1px solid; COLOR: #646464; PADDING-BOTTOM: 0px; PADDING-TOP: 1px; PADDING-LEFT: 5px; BORDER-LEFT: #9bbcd7 1px solid; LINE-HEIGHT: 16px; PADDING-RIGHT: 5px
}
.text7 {
	BORDER-TOP: #9bbcd7 1px solid; HEIGHT: 20px; BORDER-RIGHT: #9bbcd7 1px solid; BORDER-BOTTOM: #9bbcd7 1px solid; COLOR: #646464; PADDING-BOTTOM: 0px; PADDING-TOP: 1px; PADDING-LEFT: 5px; BORDER-LEFT: #9bbcd7 1px solid; LINE-HEIGHT: 14px; PADDING-RIGHT: 5px
}
.text8 {
	BORDER-TOP: #c4c5ca 1px solid; HEIGHT: 28px; BORDER-RIGHT: #c4c5ca 1px solid; BORDER-BOTTOM: #c4c5ca 1px solid; COLOR: #454545; PADDING-LEFT: 1px; BORDER-LEFT: #c4c5ca 1px solid; LINE-HEIGHT: 28px
}
.foot_button_bg {
	BORDER-TOP: white 1px solid; BACKGROUND: #cce4fc; BORDER-BOTTOM: white 1px solid; MIN-HEIGHT: 34px; LINE-HEIGHT: 34px; _height: 34px
}
.mopbtn {
	CURSOR: pointer; HEIGHT: 22px; BACKGROUND: url(../images/button_m1.gif) no-repeat; FLOAT: left; COLOR: #000; PADDING-LEFT: 15px; MARGIN: 5px 2px 5px 5px; LINE-HEIGHT: 22px
}
.mopbtn SPAN {
	HEIGHT: 22px; BACKGROUND: url(../images/button_m1.gif) no-repeat right -30px; FLOAT: left; LINE-HEIGHT: 22px; PADDING-RIGHT: 15px
}
.dl_card {
	BORDER-TOP: #377dae 1px solid; BORDER-RIGHT: #377dae 1px solid; WIDTH: 400px; BACKGROUND: #f3f8fc; BORDER-BOTTOM: #377dae 1px solid; PADDING-BOTTOM: 10px; BORDER-LEFT: #377dae 1px solid
}
.dl_card .title {
	FONT-SIZE: 14px; HEIGHT: 21px; BACKGROUND: url(../images/repeat_bg.jpg) repeat-x left top; FONT-WEIGHT: bold; COLOR: #fff; PADDING-BOTTOM: 0px; PADDING-TOP: 6px; PADDING-LEFT: 15px; PADDING-RIGHT: 0px
}
.dl_card DL {
	WIDTH: 270px; LINE-HEIGHT: 20px
}
.dl_card DD {
	FONT-SIZE: 12px; HEIGHT: auto !important; COLOR: #666; PADDING-BOTTOM: 0px; PADDING-TOP: 6px; PADDING-LEFT: 15px; PADDING-RIGHT: 0px
}
.dl_card DD LABEL {
	FONT-WEIGHT: normal; COLOR: #1e4e72
}
.dl_card DD A {
	TEXT-DECORATION: underline
}
.ts_title {
	FONT-SIZE: 14px; FONT-WEIGHT: bold; COLOR: #666; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.btn_s {
	TEXT-ALIGN: center; MARGIN-TOP: 5px
}
.btn_s IMG {
	VERTICAL-ALIGN: -6px
}
.btn_s SPAN {
	MARGIN-RIGHT: 5px
}
.count_search .left {
	COLOR: #666; MARGIN: 3px
}
.count_search .left INPUT {
	VERTICAL-ALIGN: -2px; MARGIN-RIGHT: 4px
}
.line_foot_01 {
	BORDER-BOTTOM: #e3e6eb 1px solid; PADDING-BOTTOM: 20px; PADDING-TOP: 20px; PADDING-LEFT: 40px; PADDING-RIGHT: 40px
}
.k_box_01 {
	BORDER-TOP: #bdd3e1 1px solid; HEIGHT: 36px; BORDER-RIGHT: #bdd3e1 1px solid; WIDTH: 200px; BACKGROUND: #f7faff; BORDER-BOTTOM: #bdd3e1 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #bdd3e1 1px solid; DISPLAY: inline-block; LINE-HEIGHT: 36px
}
.sub_title .addmenu A {
	TEXT-DECORATION: none; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-WEIGHT: normal; COLOR: #316799
}
.ts_reset {
	COLOR: #989898; MARGIN: 20px 0px 10px; LINE-HEIGHT: 28px
}
.ts_reset SPAN {
	COLOR: #666
}
.btn_01 {
	CURSOR: pointer; HEIGHT: 22px; WIDTH: 90px; BACKGROUND: url(../images/uc/btn_bg_05.gif) no-repeat; COLOR: #fff; TEXT-ALIGN: center; MARGIN-TOP: 5px; LINE-HEIGHT: 22px
}
.qx_text {
	MARGIN-BOTTOM: 10px; COLOR: #666; MARGIN-LEFT: 12px
}
.user_yz_box {
	WIDTH: 650px; MARGIN-TOP: 25px
}
.user_yz_box UL {
	HEIGHT: 27px; WIDTH: 546px; LINE-HEIGHT: 27px
}
.user_yz_box UL LI {
	FLOAT: left; COLOR: #686868; MARGIN: 0px 35px; DISPLAY: inline
}
.user_yz_box UL LI.index {
	FONT-WEIGHT: bold; COLOR: #fff
}
.user_yz_box2 {
	BACKGROUND: url(../images/uc/yz_email_ico.gif) no-repeat; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 45px; MARGIN: 20px 0px 0px 20px; PADDING-RIGHT: 45px
}
.user_yz_tab1 {
	BORDER-TOP: medium none; BORDER-RIGHT: medium none; WIDTH: 610px; BORDER-BOTTOM: medium none; BORDER-LEFT: medium none
}
.user_yz_tab1 TD {
	COLOR: #666; LINE-HEIGHT: 36px
}
.user_yz_box2 P {
	COLOR: #999; LINE-HEIGHT: 22px
}
.user_yz_box2 P IMG {
	MARGIN: 15px 0px 15px 194px
}
.yz_input_2 {
	BORDER-TOP: #9cbcd5 1px solid; HEIGHT: 20px; BORDER-RIGHT: #9cbcd5 1px solid; WIDTH: 200px; BORDER-BOTTOM: #9cbcd5 1px solid; BORDER-LEFT: #9cbcd5 1px solid
}
.yz_buttonm9 {
	CURSOR: pointer; BORDER-TOP: medium none; HEIGHT: 22px; BORDER-RIGHT: medium none; WIDTH: 100px; BACKGROUND: url(../images/uc/bt_bg121.gif) no-repeat center bottom; BORDER-BOTTOM: medium none; COLOR: #686868; BORDER-LEFT: medium none
}
.yz_buttonm7 {
	CURSOR: pointer; BORDER-TOP: medium none; HEIGHT: 22px; BORDER-RIGHT: medium none; WIDTH: 42px; BACKGROUND: url(../images/uc/bt_bg121.gif) no-repeat left top; BORDER-BOTTOM: medium none; COLOR: #686868; BORDER-LEFT: medium none
}
.user_yz_an {
	MARGIN-TOP: 20px
}
.user_yz_an {
	WIDTH: 500px; COLOR: #999; LINE-HEIGHT: 22px
}
.user_yz_an IMG {
	FLOAT: left; MARGIN: 10px
}
.user_yz_an SPAN {
	FONT-SIZE: 14px; FONT-WEIGHT: bold; COLOR: #f00
}
.tab_31 {
	POSITION: relative; COLOR: #666
}
.tab_31 TD {
	PADDING-BOTTOM: 4px; PADDING-TOP: 4px; PADDING-LEFT: 0px; PADDING-RIGHT: 15px
}
.tab_31 IMG {
	CURSOR: pointer; VERTICAL-ALIGN: middle; MARGIN-LEFT: 2px; _vertical-align: -1px
}
.tab_31 INPUT {
	VERTICAL-ALIGN: -2px; MARGIN-RIGHT: 2px; _vertical-align: -3px
}
.btn_fs {
	HEIGHT: 22px; WIDTH: 90px; BACKGROUND: url(../images/uc/btn_bg_05.gif) no-repeat; COLOR: #fff; TEXT-ALIGN: center; MARGIN-TOP: 9px; LINE-HEIGHT: 22px; MARGIN-RIGHT: 10px
}
.btn_ss {
	CURSOR: pointer; HEIGHT: 30px; WIDTH: 30px; BACKGROUND: url(../images/153301.gif) no-repeat; POSITION: absolute; LEFT: 335px; MARGIN-TOP: 9px; TOP: 32px; MARGIN-RIGHT: 10px
}
.box_yq {
	BORDER-TOP: medium none; BORDER-RIGHT: #c7dcef 1px solid; BACKGROUND: #f9fdff; BORDER-BOTTOM: #c7dcef 1px solid; COLOR: #666; PADDING-BOTTOM: 30px; PADDING-TOP: 20px; PADDING-LEFT: 20px; BORDER-LEFT: #c7dcef 1px solid; PADDING-RIGHT: 0px
}
.yq_line_bg {
	BACKGROUND: url(../images/bg_point.gif) repeat-y 396px 50%
}
.div-min-width {
	MIN-WIDTH: 950px; _width: 950px
}
.add_box_ok {
	BACKGROUND: url(../images/img_24.gif) no-repeat 20px 4px; PADDING-LEFT: 80px; LINE-HEIGHT: 26px
}
.add_box_ok LABEL {
	FONT-SIZE: 14px; FONT-WEIGHT: bold; COLOR: #666
}
.not_sy {
	FONT-SIZE: 12px; BORDER-TOP: #c7dcef 1px solid; BORDER-RIGHT: #c7dcef 1px solid; BORDER-BOTTOM: #c7dcef 1px solid; COLOR: #666666; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 10px; MARGIN: 10px 0px; BORDER-LEFT: #c7dcef 1px solid; PADDING-RIGHT: 10px
}
.not_sy1 {
	TEXT-DECORATION: underline
}
.not_sy2 {
	TEXT-DECORATION: underline; COLOR: #5b758c
}
.tit_top {
	HEIGHT: 30px; BACKGROUND: #e4f2fe; FONT-WEIGHT: bold; COLOR: #666666; PADDING-LEFT: 10px; LINE-HEIGHT: 30px
}
.add_tit_tishi {
	BORDER-TOP: #d7d8d9 1px solid; HEIGHT: 24px; BORDER-RIGHT: #d7d8d9 1px solid; WIDTH: 720px; BACKGROUND: #f5f6f6; BORDER-BOTTOM: #d7d8d9 1px solid; MARGIN: 15px; BORDER-LEFT: #d7d8d9 1px solid; LINE-HEIGHT: 24px; TEXT-INDENT: 10px
}
.shezhi_box_pw {
	WIDTH: 240px; PADDING-BOTTOM: 30px; PADDING-TOP: 30px; PADDING-LEFT: 0px; MARGIN-LEFT: 220px; PADDING-RIGHT: 0px
}
.shezhi_box_pw INPUT {
	VERTICAL-ALIGN: -2px; _vertical-align: -4px
}
.tit_xiaoxi {
	FONT-SIZE: 14px; FONT-WEIGHT: bold; COLOR: #376595
}
UL.xiaoxi_list {
	WIDTH: 520px; MARGIN-TOP: 10px
}
UL.xiaoxi_list LI {
	WIDTH: 240px; BACKGROUND: url(../images/point_0603.gif) no-repeat 0px 5px; FLOAT: left; PADDING-LEFT: 10px; MARGIN: 5px 5px 5px 0px
}
.login_top {
	WIDTH: 920px; MARGIN: 50px auto 5px
}
.main_center_bg {
	BACKGROUND: url(../images/login_bg315.jpg) #54a5dc no-repeat center 50%
}
.login_center_0627 {
	WIDTH: 920px; MARGIN: 0px auto
}
.foot_login_bg {
	BACKGROUND: #fff; COLOR: #666; PADDING-BOTTOM: 20px; PADDING-TOP: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.foot_content {
	WIDTH: 920px; MARGIN: 0px auto
}
.foot_content .left {
	COLOR: #bebebe
}
UL.xiaoxi_list {
	WIDTH: 510px; BACKGROUND: url(../images/line_login.gif) repeat-x 50% top; PADDING-TOP: 20px; MARGIN-LEFT: 8px
}
UL.xiaoxi_list LI {
	WIDTH: 240px; BACKGROUND: url(../images/point_0603.gif) no-repeat 0px 5px; FLOAT: left; PADDING-LEFT: 10px; MARGIN: 5px 5px 5px 0px
}
UL.xiaoxi_list2 {
	WIDTH: 510px; BACKGROUND: url(../images/line_login2.gif) repeat-x 50% top; PADDING-TOP: 20px; MARGIN-LEFT: 8px
}
UL.xiaoxi_list2 LI {
	WIDTH: 240px; BACKGROUND: url(../images/point_0816.gif) no-repeat 0px 5px; FLOAT: left; PADDING-LEFT: 10px; MARGIN: 5px 5px 5px 0px
}
UL.xiaoxi_list2 LI A {
	COLOR: #ffffff
}
.text_0627 {
	BORDER-TOP: #b3b3b3 1px solid; HEIGHT: 26px; BORDER-RIGHT: #b3b3b3 1px solid; WIDTH: 250px; BACKGROUND: #f4f9fc; BORDER-BOTTOM: #b3b3b3 1px solid; COLOR: #999; PADDING-LEFT: 2px; BORDER-LEFT: #b3b3b3 1px solid; LINE-HEIGHT: 26px
}
.login_box_bg {
	OVERFLOW: hidden; HEIGHT: 290px; WIDTH: 260px; BACKGROUND: url(../images/login_bg.gif) no-repeat; PADDING-BOTTOM: 70px; PADDING-TOP: 70px; PADDING-LEFT: 43px; MARGIN-TOP: 30px; PADDING-RIGHT: 43px
}
.wrong_info {
	BORDER-TOP: #ff8080 1px solid; BORDER-RIGHT: #ff8080 1px solid; BACKGROUND: #fff2f2; BORDER-BOTTOM: #ff8080 1px solid; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; PADDING-LEFT: 4px; BORDER-LEFT: #ff8080 1px solid; MARGIN-TOP: 5px; PADDING-RIGHT: 4px
}
.tab_0627 {
	COLOR: #666
}
.tab_0627 TD {
	PADDING-BOTTOM: 4px; PADDING-TOP: 4px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.tab_0719 {
	COLOR: #666; TEXT-ALIGN: left; LINE-HEIGHT: 19px
}
.list_per {
	
}
.list_per LI {
	FLOAT: left; MARGIN: 7px 15px 7px 0px
}
.list_per LI .per_box {
	HEIGHT: 178px; WIDTH: 307px; BACKGROUND: url(../images/per_list_box_bg.gif) no-repeat; PADDING-LEFT: 15px
}
.list_per LI .name {
	FONT-SIZE: 14px; FONT-WEIGHT: bold; COLOR: #656565; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.list_per LI .info_a {
	COLOR: #666; MARGIN-TOP: 12px
}
.sub_tit_bg {
	BORDER-TOP: medium none; BORDER-RIGHT: #e7f0f8 1px solid; BACKGROUND: #f3f9fe; BORDER-BOTTOM: #e7f0f8 1px solid; COLOR: #666; PADDING-LEFT: 10px; BORDER-LEFT: #e7f0f8 1px solid; LINE-HEIGHT: 28px
}
.mistake {
	BACKGROUND: url(../../images/icoS3.gif) #f7f8f8 no-repeat 3px -1246px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 20px; PADDING-RIGHT: 5px
}
.button_0808 {
	CURSOR: pointer; BORDER-TOP: medium none; HEIGHT: 30px; BORDER-RIGHT: medium none; WIDTH: 94px; BACKGROUND: url(../images/01_06.gif) no-repeat; BORDER-BOTTOM: medium none; FONT-WEIGHT: bold; COLOR: #fff; TEXT-ALIGN: center; BORDER-LEFT: medium none; LINE-HEIGHT: 30px
}
.s_ok {
	BACKGROUND: url(../../images/icoS3.gif) #f7f8f8 no-repeat 3px -1196px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 20px; PADDING-RIGHT: 5px
}
.tab_0808 {
	COLOR: #666; LINE-HEIGHT: 30px
}
.tab_0808 TD {
	
}
.tab_0808 INPUT {
	VERTICAL-ALIGN: -2px
}
.bottom_line {
	BORDER-BOTTOM: #c9c9c9 1px dotted
}
.per_box {
	WIDTH: 100%; ZOOM: 1; FLOAT: left; COLOR: #666; MARGIN-LEFT: -210px; DISPLAY: inline
}
.per_box_08 {
	BORDER-TOP: #e7f0f8 1px solid; BORDER-RIGHT: #e7f0f8 1px solid; WIDTH: 100%; BORDER-BOTTOM: medium none; POSITION: relative; ZOOM: 1; BORDER-LEFT: #e7f0f8 1px solid
}
.per_box_08 UL {
	PADDING-BOTTOM: 5px; MARGIN: 5px 5px 0px
}
.per_box_08 LI {
	OVERFLOW: hidden; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; WIDTH: 150px; WHITE-SPACE: nowrap; BORDER-BOTTOM: #ccc 1px solid; POSITION: relative; FLOAT: left; PADDING-LEFT: 5px; MARGIN: 5px; BORDER-LEFT: #ccc 1px solid; LINE-HEIGHT: 23px
}
.per_box_08 LI A {
	RIGHT: 0px; POSITION: absolute; TOP: 0px; _right: -1px
}
.per_box_08 LI A IMG {
	
}
#innerLeft {
	MARGIN-LEFT: 210px
}
.per_foot_c {
	BORDER-TOP: medium none; HEIGHT: 30px; BORDER-RIGHT: #e7f0f8 1px solid; WIDTH: 100%; BACKGROUND: #f7fafd; BORDER-BOTTOM: #e7f0f8 1px solid; BORDER-LEFT: #e7f0f8 1px solid; LINE-HEIGHT: 30px
}
.phone_hy_foot_box {
	LINE-HEIGHT: 24px
}
.phone_hy_0808 {
	FONT-SIZE: 14px; HEIGHT: 25px; BACKGROUND: url(../images/01_13.gif) no-repeat; FONT-WEIGHT: bold; COLOR: #e49701; PADDING-LEFT: 20px
}
.phone_hy_foot_box .info {
	COLOR: #666; MARGIN-LEFT: 20px; MARGIN-TOP: 5px
}
.phone_hy_foot_box .info IMG {
	VERTICAL-ALIGN: -2px
}
.booking_ok {
	BACKGROUND: url(../images/01_23.png) no-repeat; COLOR: #666; PADDING-LEFT: 120px; MARGIN: 50px; LINE-HEIGHT: 28px
}
.booking_ok .tit {
	FONT-SIZE: 16px; FONT-WEIGHT: bold; COLOR: #d37007
}
.booking_ok .info {
	FONT-SIZE: 14px
}
.booking_ok .ts {
	WIDTH: 500px; BACKGROUND: #fcf2d2; COLOR: #ed9538; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px
}
.cchy_tab_0809 {
	BORDER-TOP: #c1c8d2 1px solid; BORDER-RIGHT: #c1c8d2 1px solid; BORDER-BOTTOM: medium none; BORDER-LEFT: #c1c8d2 1px solid
}
.cchy_tab_0809 TH {
	BORDER-BOTTOM: #e3e6eb 1px solid; TEXT-ALIGN: center
}
.cchy_tab_0809 TD {
	BORDER-BOTTOM: #e3e6eb 1px solid; TEXT-ALIGN: center
}
.cchy_tab_0809 TH {
	BACKGROUND: #eef3f7; FONT-WEIGHT: bold; COLOR: #42789a; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.cchy_tab_0809 TD {
	BACKGROUND: #ffffff; COLOR: #676767; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.cchy_tab_0809 TD A {
	COLOR: #127bf1
}
.add_per_hy {
	PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.add_per_hy SPAN {
	FONT-SIZE: 14px; FONT-WEIGHT: bold; COLOR: #666; PADDING-LEFT: 5px; MARGIN-TOP: 3px
}
.button_0816 {
	PADDING-BOTTOM: 10px; PADDING-TOP: 15px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.sms_left_box {
	BORDER-TOP: #cbdff0 1px solid; BORDER-RIGHT: #cbdff0 1px solid; BACKGROUND: #f9fcff; BORDER-BOTTOM: #cbdff0 1px solid; PADDING-BOTTOM: 20px; PADDING-TOP: 20px; PADDING-LEFT: 20px; BORDER-LEFT: #cbdff0 1px solid; LINE-HEIGHT: 24px; PADDING-RIGHT: 20px
}
.per_inf0_box {
	BORDER-TOP: #cbdff0 1px solid; BORDER-RIGHT: #cbdff0 1px solid; BACKGROUND: #e5f1f5; BORDER-BOTTOM: #cbdff0 1px solid; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 15px; BORDER-LEFT: #cbdff0 1px solid; PADDING-RIGHT: 15px
}
.foot_info {
	MARGIN: 15px 25px; LINE-HEIGHT: 30px
}
.sms_main_left_box {
	WIDTH: 100%; ZOOM: 1; FLOAT: left; COLOR: #666; MARGIN-LEFT: -360px; DISPLAY: inline
}
#innerLeft_01 {
	MARGIN-LEFT: 360px
}
.right_ts_box {
	BORDER-TOP: #ff9900 1px solid; BORDER-RIGHT: #ff9900 1px solid; BACKGROUND: #fdf5ee; BORDER-BOTTOM: #ff9900 1px solid; PADDING-BOTTOM: 15px; PADDING-TOP: 15px; PADDING-LEFT: 15px; BORDER-LEFT: #ff9900 1px solid; LINE-HEIGHT: 24px; PADDING-RIGHT: 15px
}
.right_ts_box .tit {
	MARGIN-BOTTOM: 10px; FONT-SIZE: 18px; BORDER-BOTTOM: #e1dcd4 1px solid; FONT-WEIGHT: bold; COLOR: #ff6600; PADDING-BOTTOM: 10px; PADDING-TOP: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.right_ts_box .tit IMG {
	VERTICAL-ALIGN: -5px
}
.sms_left_box_01 {
	HEIGHT: 191px; WIDTH: 100%; OVERFLOW-Y: auto
}
.tab_th {
	BORDER-TOP: #c1c8d2 1px solid; BORDER-RIGHT: #c1c8d2 1px solid; WIDTH: 100%; BORDER-BOTTOM: #c1c8d2 1px solid; BORDER-LEFT: #c1c8d2 1px solid
}
.tab_th TH {
	BACKGROUND: #eef3f7; FONT-WEIGHT: bold; COLOR: #447998; PADDING-BOTTOM: 3px; TEXT-ALIGN: center; PADDING-TOP: 7px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.tab_th TD {
	BORDER-TOP: #e3e6eb 1px solid; PADDING-BOTTOM: 9px; TEXT-ALIGN: center; PADDING-TOP: 9px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.btn_0820 {
	CURSOR: pointer; BORDER-TOP: medium none; HEIGHT: 24px; BORDER-RIGHT: medium none; WIDTH: 60px; BACKGROUND: url(../images/button_bg_08.gif) no-repeat; BORDER-BOTTOM: medium none; FONT-WEIGHT: bold; COLOR: #fff; TEXT-ALIGN: center; BORDER-LEFT: medium none
}
.add_hy_button {
	FONT-SIZE: 14px; HEIGHT: 200px; BACKGROUND: url(../images/01_23.png) no-repeat; FONT-WEIGHT: bold; PADDING-LEFT: 110px; MARGIN: 50px; LINE-HEIGHT: 40px
}
.pay_xf_hy {
	FONT-SIZE: 14px; BACKGROUND: url(../images/cchy_ico_6.gif) no-repeat; COLOR: #666; PADDING-LEFT: 110px; MARGIN: 50px; LINE-HEIGHT: 28px
}
.per_info_box {
	BORDER-TOP: medium none; BORDER-RIGHT: #e1e4e6 1px solid; BORDER-BOTTOM: #e1e4e6 1px solid; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 25px; BORDER-LEFT: #e1e4e6 1px solid; PADDING-RIGHT: 0px
}
.tab_title_cchy {
	
}
.tab_title_cchy .tit {
	FONT-SIZE: 14px; BACKGROUND: url(../images/cchy_ico_9.gif) no-repeat; BORDER-BOTTOM: #e2e2e2 1px dotted; FONT-WEIGHT: bold; COLOR: #7794b1; PADDING-BOTTOM: 8px; PADDING-LEFT: 20px
}
.hy_funtion_box {
	WIDTH: 830px
}
.hy_funtion_box .tit {
	FONT-SIZE: 14px; FONT-WEIGHT: bold; COLOR: #7794b1
}
.hy_funtion_box .right IMG {
	VERTICAL-ALIGN: -8px
}
.hy_funtion_box UL LI {
	OVERFLOW: hidden; BORDER-TOP: #bdbdbf 1px solid; BORDER-RIGHT: #bdbdbf 1px solid; WIDTH: 198px; BACKGROUND: #f2f5f8; BORDER-BOTTOM: #bdbdbf 1px solid; FLOAT: left; TEXT-ALIGN: center; BORDER-LEFT: #bdbdbf 1px solid; MARGIN-RIGHT: 10px
}
.hy_funtion_box UL LI .img_box {
	OVERFLOW: hidden; HEIGHT: 154px
}
.hy_funtion_box UL LI .img_info {
	HEIGHT: 134px; WIDTH: 178px; BACKGROUND: #e5e8e9; COLOR: #545454; PADDING-BOTTOM: 10px; TEXT-ALIGN: left; PADDING-TOP: 10px; PADDING-LEFT: 10px; DISPLAY: none; LINE-HEIGHT: 22px; PADDING-RIGHT: 10px
}
.hy_funtion_box UL LI .info_t {
	PADDING-BOTTOM: 15px; PADDING-TOP: 15px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.update_log_box {
	BORDER-TOP: #d8e0e3 1px solid; BORDER-RIGHT: #d8e0e3 1px solid; WIDTH: 465px; BORDER-BOTTOM: #d8e0e3 1px solid; BORDER-LEFT: #d8e0e3 1px solid; MARGIN-RIGHT: 15px
}
.update_log_box .tit_bg {
	HEIGHT: 26px; BACKGROUND: #e4eff9; BORDER-BOTTOM: #d8e0e3 1px solid; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; LINE-HEIGHT: 26px; PADDING-RIGHT: 10px
}
.update_log_box .tit_bg .tit {
	FONT-SIZE: 14px; FONT-WEIGHT: bold; COLOR: #7794b1
}
.update_log_box .update_info {
	HEIGHT: 150px; COLOR: #666; PADDING-BOTTOM: 20px; PADDING-TOP: 20px; PADDING-LEFT: 30px; LINE-HEIGHT: 24px; PADDING-RIGHT: 30px
}
.update_log_box .update_info LABEL {
	FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.top_choose_box {
	BACKGROUND: url(../images/bg_h80_w1.gif) #f5fafe repeat-x; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.top_choose_box LI {
	OVERFLOW: hidden; MARGIN-BOTTOM: 5px; BORDER-TOP: #cc9933 1px solid; HEIGHT: 13px; BORDER-RIGHT: #cc9933 1px solid; BORDER-BOTTOM: #cc9933 1px solid; POSITION: relative; FLOAT: left; PADDING-BOTTOM: 1px; PADDING-TOP: 2px; PADDING-LEFT: 5px; BORDER-LEFT: #cc9933 1px solid; Z-INDEX: 10; DISPLAY: inline; PADDING-RIGHT: 20px; MARGIN-RIGHT: 5px
}
.top_choose_box LI A {
	RIGHT: 1px; POSITION: absolute; MARGIN-LEFT: 5px; TOP: 1px; _right: 0
}
.tab_2011_14 {
	BORDER-TOP: #c7dcef 1px solid; FONT-FAMILY: Tahoma, Verdana, sans-serif; BORDER-RIGHT: #c7dcef 1px solid; BORDER-BOTTOM: #c7dcef 1px solid; BORDER-LEFT: #c7dcef 1px solid
}
.tab_2011_14 TD {
	BACKGROUND: #f9fdff; COLOR: #316799; TEXT-ALIGN: center
}
.tab_2011_14 TD A {
	FONT-SIZE: 12px; COLOR: #316799; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px
}
.tab_2011_14 TD A:hover {
	BACKGROUND: #c7dcef
}
.tab_2011_14 TD .last_px {
	CURSOR: pointer; BACKGROUND: #ddeefe; POSITION: relative; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: #98bcd0 1px solid; PADDING-RIGHT: 5px
}
.tab_2011_14 TD .last_px UL {
	BORDER-TOP: #98bcd0 1px solid; BORDER-RIGHT: #98bcd0 1px solid; WIDTH: 90px; BACKGROUND: #fff; RIGHT: -2px; BORDER-BOTTOM: #98bcd0 1px solid; POSITION: absolute; BORDER-LEFT: #98bcd0 1px solid; TOP: 24px
}
.tab_2011_14 TD .last_px UL LI {
	
}
.tab_2011_14 TD .last_px UL LI A {
	FONT-SIZE: 12px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 0px; DISPLAY: block; PADDING-RIGHT: 0px
}
.tab_2011_14 TD .last_px UL LI IMG {
	VERTICAL-ALIGN: -2px
}
.tab_11 .bgc_01 {
	BACKGROUND: #f1f8ff
}
.tab_11 .bgc_02 {
	BACKGROUND: #ddeefe
}
.text_1114 {
	BORDER-TOP: #abadb3 1px solid; HEIGHT: 22px; BORDER-RIGHT: #abadb3 1px solid; WIDTH: 60px; BACKGROUND: #fff; BORDER-BOTTOM: #abadb3 1px solid; COLOR: #999; TEXT-ALIGN: center; BORDER-LEFT: #abadb3 1px solid; DISPLAY: none; LINE-HEIGHT: 22px
}
.text_1115 {
	BORDER-TOP: #abadb3 1px solid; HEIGHT: 22px; BORDER-RIGHT: #abadb3 1px solid; WIDTH: 120px; BACKGROUND: #fff; BORDER-BOTTOM: #abadb3 1px solid; COLOR: #999; TEXT-ALIGN: center; BORDER-LEFT: #abadb3 1px solid; DISPLAY: none; LINE-HEIGHT: 22px
}
.text_1116 {
	BORDER-TOP: #abadb3 1px solid; HEIGHT: 18px; BORDER-RIGHT: #abadb3 1px solid; WIDTH: 90px; BACKGROUND: #fff; BORDER-BOTTOM: #abadb3 1px solid; COLOR: #000; TEXT-ALIGN: left; BORDER-LEFT: #abadb3 1px solid; DISPLAY: none; LINE-HEIGHT: 18px
}
.sel_1114 {
	WIDTH: 95px; COLOR: #000; TEXT-ALIGN: center; DISPLAY: none
}
.pos_input_text {
	POSITION: relative
}
.mistake_zh_t {
	FONT-SIZE: 12px; HEIGHT: 20px; WIDTH: 184px; BACKGROUND: url(../images/mistake_info_bg.gif) no-repeat; POSITION: absolute; COLOR: red; PADDING-TOP: 15px; PADDING-LEFT: 30px; LEFT: 0px; BOTTOM: -30px
}
.list_qh {
	OVERFLOW: hidden; HEIGHT: 20px; WIDTH: 48px; VERTICAL-ALIGN: -8px; BACKGROUND: url(../images/view_mode.gif) no-repeat; DISPLAY: inline-block
}
.list_qh A {
	HEIGHT: 20px; WIDTH: 18px; DISPLAY: inline-block
}
.per_list_big_box LI {
	HEIGHT: 214px; WIDTH: 384px; BACKGROUND: url(../images/avatar/bg_2.gif) no-repeat; FLOAT: left; MARGIN: 10px 0px; DISPLAY: inline
}
.per_list_big_box LI.index {
	BACKGROUND: url(../images/avatar/bg_1.gif) no-repeat
}
.per_list_big_box LI.index_01 {
	BACKGROUND: url(../images/avatar/bg_0.gif) no-repeat
}
.per_list_big_box LI .cc_name {
	POSITION: relative; MARGIN-LEFT: 10px
}
.per_list_big_box LI .cc_name STRONG {
	FONT-SIZE: 18px; FONT-FAMILY: "Î¢ÈíÑÅºÚ"; FONT-WEIGHT: 800; COLOR: #333
}
.per_list_big_box LI .cc_name SPAN {
	COLOR: #999999
}
.list_big_foot_info {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.list_big_foot_info TR {
	
}
.list_big_foot_info TR TD {
	HEIGHT: 22px; COLOR: #999
}
.list_big_foot_info UL LI {
	BORDER-TOP: medium none; BORDER-RIGHT: medium none; WIDTH: 148px; BORDER-BOTTOM: medium none; FLOAT: left; COLOR: #999; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; MARGIN: 0px 9px 0px 0px; BORDER-LEFT: medium none; PADDING-RIGHT: 5px
}
.list_top_choose_all {
	BORDER-TOP: #c7dcef 1px solid; BORDER-RIGHT: #c7dcef 1px solid; BACKGROUND: #ddeefe; BORDER-BOTTOM: #c7dcef 1px solid; FONT-WEIGHT: bold; COLOR: #395b7e; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 10px; BORDER-LEFT: #c7dcef 1px solid; PADDING-RIGHT: 0px
}
.list_top_choose_all INPUT {
	VERTICAL-ALIGN: -2px
}
#tab_info_1115 {
	FONT-SIZE: 14px; COLOR: #999; MARGIN: 0px 5px
}
#tab_info_1115 TD {
	HEIGHT: 31px; LINE-HEIGHT: 31px
}
.top_info_bg {
	HEIGHT: 24px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; _overflow: hidden
}
.big_mian_box {
	FONT-SIZE: 14px; BORDER-TOP: #c7dcef 1px solid; BORDER-RIGHT: #c7dcef 1px solid; BORDER-BOTTOM: #c7dcef 1px solid; BORDER-LEFT: #c7dcef 1px solid
}
.big_mian_box .tit {
	BACKGROUND: #f1f8ff; FONT-WEIGHT: bold; COLOR: #3c5471; PADDING-BOTTOM: 6px; PADDING-TOP: 6px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px
}
.select_f {
	OVERFLOW: hidden; BORDER-TOP: #c4c5ca 1px solid; HEIGHT: 15px; BORDER-RIGHT: #c4c5ca 1px solid; WIDTH: 190px; BORDER-BOTTOM: #c4c5ca 1px solid; FLOAT: left; COLOR: #454545; PADDING-BOTTOM: 7px; PADDING-TOP: 7px; PADDING-LEFT: 3px; BORDER-LEFT: #c4c5ca 1px solid; LINE-HEIGHT: 15px; PADDING-RIGHT: 3px; MARGIN-RIGHT: 10px
}
.select_f SELECT {
	FONT-SIZE: 14px; BORDER-TOP: #fff 1px; BORDER-RIGHT: #fff 1px; WIDTH: 180px; BORDER-BOTTOM: #fff 1px; COLOR: #454545; BORDER-LEFT: #fff 1px; _margin: -2px; _margin-top: 0px
}
.data_pos {
	POSITION: absolute; LEFT: 180px; TOP: 15px
}
.tab_2012 {
	FONT-SIZE: 14px; COLOR: #666
}
.tab_2012 TD.td_hint_str {
	FONT-SIZE: 12px; WIDTH: auto
}
.tab_2012 TD.td_hint_str INPUT {
	VERTICAL-ALIGN: -2px
}
.tab_2012 TH {
	VERTICAL-ALIGN: top; FONT-WEIGHT: normal; COLOR: #666; TEXT-ALIGN: right; PADDING-TOP: 16px; PADDING-RIGHT: 7px
}
.tab_2012 TH SUP {
	COLOR: #f00
}
.tab_2012 TD {
	VERTICAL-ALIGN: middle; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.reg_input_text_01 {
	BORDER-TOP: #cccccc 1px solid; HEIGHT: 28px; BORDER-RIGHT: #cccccc 1px solid; WIDTH: 200px; BORDER-BOTTOM: #cccccc 1px solid; PADDING-LEFT: 2px; BORDER-LEFT: #cccccc 1px solid; LINE-HEIGHT: 28px
}
.input_zt_01 {
	MARGIN-LEFT: 10px; DISPLAY: inline
}
.input_zt_01 IMG {
	VERTICAL-ALIGN: -3px
}
.psw_yz {
	MARGIN-RIGHT: 5px
}
.psw_yz LI {
	HEIGHT: 8px; WIDTH: 35px; BACKGROUND: url(../images/psw_bg.gif) no-repeat; FLOAT: left; MARGIN-RIGHT: 1px
}
.psw_yz LI.this_psw_bg {
	BACKGROUND: url(../images/this_psw_bg.gif) no-repeat
}
.right_per_list_01 {
	BORDER-TOP: medium none; BORDER-RIGHT: #b2d1e5 1px solid; WIDTH: 190px; BORDER-BOTTOM: #b2d1e5 1px solid; BORDER-LEFT: #b2d1e5 1px solid
}
.right_per_list_01 .tit {
	BACKGROUND: #ddeefe; FONT-WEIGHT: bold; COLOR: #447c95; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px
}
.right_per_list_01 .key {
	OVERFLOW: hidden; BORDER-TOP: #b2d1e5 1px solid; HEIGHT: 18px; BORDER-RIGHT: medium none; WIDTH: 182px; BACKGROUND: url(../../images/bg-Repeated3.gif) repeat-x left top; BORDER-BOTTOM: #b2d1e5 1px solid; COLOR: #d5d5d5; PADDING-BOTTOM: 0px; PADDING-TOP: 4px; PADDING-LEFT: 4px; BORDER-LEFT: medium none; PADDING-RIGHT: 4px
}
.right_per_list_01 A.Per_sel_Search {
	HEIGHT: 13px; WIDTH: 13px; BACKGROUND: url(../images/bg-only2.gif) no-repeat left top; POSITION: relative; FLOAT: right; MARGIN: -18px 4px 0px 0px
}
.right_per_list_01 .list_content {
	OVERFLOW: hidden; WIDTH: 190px
}
.right_per_list_01 .list_content LI {
	MARGIN-BOTTOM: 2px; WIDTH: 100%; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px
}
.right_per_list_01 .list_content LI.index {
	BACKGROUND: #ddeefe
}
.right_per_list_01 .list_content LI A {
	WIDTH: 100%; DISPLAY: block
}
.tanchu_input_top_01 {
	OVERFLOW: hidden; HEIGHT: 8px; WIDTH: 14px; BACKGROUND: url(../images/tanchu_input_top_01.gif) no-repeat; POSITION: relative; LEFT: 20px; BOTTOM: -1px; _left: -30px
}
.tanchu_input_top_02 {
	OVERFLOW: hidden; HEIGHT: 8px; WIDTH: 14px; BACKGROUND: url(../images/tanchu_input_top_02.gif) no-repeat; POSITION: relative; LEFT: 20px; BOTTOM: -1px; _left: -30px
}
.tanchu_input_top_03 {
	OVERFLOW: hidden; HEIGHT: 8px; WIDTH: 14px; BACKGROUND: url(../images/tanchu_input_top_03.gif) no-repeat; POSITION: relative; LEFT: 20px; BOTTOM: -1px; _left: -30px
}
.into_input_bg_01 {
	FONT-SIZE: 12px; BORDER-TOP: #dedea3 1px solid; BORDER-RIGHT: #dedea3 1px solid; BACKGROUND: url(../images/into_input_bg.gif) #ffffe1 no-repeat 8px 9px; WHITE-SPACE: nowrap; BORDER-BOTTOM: #dedea3 1px solid; COLOR: #93941c; PADDING-BOTTOM: 5px; TEXT-ALIGN: left; PADDING-TOP: 5px; PADDING-LEFT: 25px; BORDER-LEFT: #dedea3 1px solid; LINE-HEIGHT: 24px; PADDING-RIGHT: 20px
}
.into_input_bg_02 {
	FONT-SIZE: 12px; BORDER-TOP: #c0dcc3 1px solid; BORDER-RIGHT: #c0dcc3 1px solid; BACKGROUND: url(../images/img_15.gif) #f2fef3 no-repeat 6px 9px; WHITE-SPACE: nowrap; BORDER-BOTTOM: #c0dcc3 1px solid; COLOR: #009933; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 25px; BORDER-LEFT: #c0dcc3 1px solid; LINE-HEIGHT: 24px; PADDING-RIGHT: 20px
}
.into_input_bg_03 {
	FONT-SIZE: 12px; BORDER-TOP: #eed1d2 1px solid; BORDER-RIGHT: #eed1d2 1px solid; BACKGROUND: url(../images/img_14.gif) #ffeded no-repeat 6px 9px; WHITE-SPACE: nowrap; BORDER-BOTTOM: #eed1d2 1px solid; COLOR: #848484; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 25px; BORDER-LEFT: #eed1d2 1px solid; LINE-HEIGHT: 24px; PADDING-RIGHT: 20px
}
#message_index {
	WIDTH: 100%
}
#message_index_welcome {
	FONT-SIZE: 14px; FONT-WEIGHT: bold; COLOR: #587293; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 10px; MARGIN-TOP: 10px; LINE-HEIGHT: 24px; PADDING-RIGHT: 10px
}
#message_index_welcome DL DT {
	WIDTH: 85px; FLOAT: left
}
#message_index_welcome DL DT IMG {
	BORDER-TOP: #a5cef2 1px solid; BORDER-RIGHT: #a5cef2 1px solid; BORDER-BOTTOM: #a5cef2 1px solid; BORDER-LEFT: #a5cef2 1px solid
}
#message_index_welcome DL DD {
	FLOAT: left; LINE-HEIGHT: 28px
}
.w_max_box {
	BORDER-TOP: #d1dbe4 1px solid; BORDER-RIGHT: #d1dbe4 1px solid; BORDER-BOTTOM: #d1dbe4 1px solid; BORDER-LEFT: #d1dbe4 1px solid
}
.w_max_box .tit_box_bg {
	BACKGROUND: #f2f7fa; BORDER-BOTTOM: #d1dbe4 1px solid; COLOR: #587390; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.w_max_box .info_text {
	PADDING-BOTTOM: 15px; PADDING-TOP: 15px; PADDING-LEFT: 15px; LINE-HEIGHT: 24px; PADDING-RIGHT: 15px
}
.w_max_box .info_text LABEL {
	FONT-SIZE: 14px; FONT-WEIGHT: bold; MARGIN: 5px 0px; DISPLAY: block
}
.w_max_box .info_text P {
	MARGIN-BOTTOM: 8px
}
.w_max_box .info_text P IMG {
	VERTICAL-ALIGN: -10px
}
.w_max_box .help_list {
	PADDING-BOTTOM: 15px; PADDING-TOP: 15px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px
}
.w_max_box .help_list LI {
	MARGIN-BOTTOM: 5px; COLOR: #666; LINE-HEIGHT: 18px
}
.right_downs_ico {
	PADDING-BOTTOM: 13px; TEXT-ALIGN: center; PADDING-TOP: 13px; PADDING-LEFT: 13px; PADDING-RIGHT: 80px
}
.tips_w1 {
	HEIGHT: 40px; WIDTH: 100px; BACKGROUND: url(../images/tips_bg.gif) no-repeat; PADDING-BOTTOM: 5px; PADDING-TOP: 19px; PADDING-LEFT: 18px; PADDING-RIGHT: 5px
}
.tips_w1 P {
	FONT-SIZE: 12px; HEIGHT: 20px; BACKGROUND: url(../images/tips_ok.gif) no-repeat; COLOR: #666666; PADDING-TOP: 1px; PADDING-LEFT: 22px
}
.tips_w2 {
	
}
.tips_w2 P {
	FONT-SIZE: 12px; HEIGHT: 20px; BACKGROUND: url(../images/tips_no.gif) no-repeat; COLOR: #666666; PADDING-TOP: 1px; PADDING-LEFT: 22px
}
.inner_box_new {
	BORDER-TOP: #d4d9dd 1px solid; BORDER-RIGHT: #d4d9dd 1px solid; BORDER-BOTTOM: #d4d9dd 1px solid; BORDER-LEFT: #d4d9dd 1px solid
}
.inner_box_new .tit_bg {
	BACKGROUND: #ddeefe; BORDER-BOTTOM: #cdd9e5 1px solid; PADDING-BOTTOM: 6px; PADDING-TOP: 6px; PADDING-LEFT: 15px; MARGIN-TOP: 1px; PADDING-RIGHT: 15px
}
.inner_box_new .tit_bg H3 {
	FONT-SIZE: 12px; FONT-WEIGHT: bold; COLOR: #405f7e
}
.td_box_1211 {
	BACKGROUND: url(../images/cckf_proxy/right_line.gif) no-repeat right 50%; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; MARGIN-RIGHT: 15px
}
.td_box_1211 P {
	MARGIN: 12px 0px
}
A.btn_sq_1211 {
	FONT-SIZE: 14px; BACKGROUND: url(../images/cckf_proxy/btn_1211.gif) no-repeat; FONT-WEIGHT: bold; COLOR: #fff; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 13px; PADDING-RIGHT: 13px
}
A.btn_sq_1211:hover {
	COLOR: #fff
}
A.btn_add_1211 {
	CURSOR: pointer; FONT-SIZE: 14px; HEIGHT: 34px; BACKGROUND: url(../images/cckf_proxy/btn_1212.gif) no-repeat; FLOAT: left; FONT-WEIGHT: bold; COLOR: #fff; PADDING-BOTTOM: 0px !important; PADDING-TOP: 0px !important; PADDING-LEFT: 15px !important; MARGIN: 2px 0px 0px; LINE-HEIGHT: 34px; PADDING-RIGHT: 0px !important
}
.btn_add_1211 SPAN {
	HEIGHT: 34px; BACKGROUND: url(../images/cckf_proxy/btn_1212.gif) no-repeat right -35px; FLOAT: left; COLOR: #fff; LINE-HEIGHT: 34px; PADDING-RIGHT: 15px
}
.right_box_1212 {
	BORDER-TOP: #c7dcef 1px solid; BORDER-RIGHT: #c7dcef 1px solid; WIDTH: 317px; BACKGROUND: #f4faff; BORDER-BOTTOM: #c7dcef 1px solid; PADDING-BOTTOM: 15px; PADDING-TOP: 15px; PADDING-LEFT: 15px; BORDER-LEFT: #c7dcef 1px solid; MARGIN-TOP: 10px; LINE-HEIGHT: 24px; PADDING-RIGHT: 15px
}
.right_box_1212 DL DT {
	FONT-WEIGHT: bold
}
.right_box_1212 DL DT .right_data {
	FLOAT: right; FONT-WEIGHT: normal; COLOR: #b8b8b8; _margin-top: -5px
}
.right_box_1212 DL DT IMG {
	VERTICAL-ALIGN: -1px; MARGIN-RIGHT: 8px
}
.right_box_1212 DL DD {
	COLOR: #585858; LINE-HEIGHT: 22px; TEXT-INDENT: 24px
}
.right_box_1212 .message_data {
	FONT-WEIGHT: normal; COLOR: #666
}
.h_box_1212 {
	BORDER-TOP: #c7dced 1px solid; BORDER-RIGHT: #c7dced 1px solid; BACKGROUND: #f9fdff; BORDER-BOTTOM: #c7dced 1px solid; COLOR: #454545; PADDING-BOTTOM: 15px; PADDING-TOP: 15px; PADDING-LEFT: 15px; BORDER-LEFT: #c7dced 1px solid; PADDING-RIGHT: 15px
}
.tab_td_bg__1213 {
	HEIGHT: 70px; BACKGROUND: url(../images/cckf_proxy/right_line_01.gif) no-repeat right 50%; PADDING-BOTTOM: 15px; PADDING-TOP: 10px; PADDING-LEFT: 0px; LINE-HEIGHT: 36px; PADDING-RIGHT: 15px; MARGIN-RIGHT: 30px
}
#proxy_box {
	BORDER-TOP: #c7dced 1px solid; POSITION: relative; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; MARGIN-TOP: 30px; PADDING-RIGHT: 10px
}
#proxy_box .tit {
	HEIGHT: 20px; BACKGROUND: #f9fdff; POSITION: absolute; FONT-WEIGHT: bold; COLOR: #567490; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 8px; LEFT: 10px; TOP: -6px; PADDING-RIGHT: 8px
}
.tj_bg_1213 {
	BORDER-TOP: #dedede 3px solid; BORDER-RIGHT: #dedede 3px solid; BORDER-BOTTOM: #dedede 3px solid; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 15px; BORDER-LEFT: #dedede 3px solid; PADDING-RIGHT: 15px; border-radius: 5px
}
.tj_ico_ok {
	BACKGROUND: url(../images/tips_ok.gif) no-repeat 0px 3px; PADDING-LEFT: 25px; LINE-HEIGHT: 20px
}
.tanchu_box_top_04 {
	OVERFLOW: hidden; HEIGHT: 13px; WIDTH: 13px; BACKGROUND: url(../images/cckf_proxy/jiantou_01.gif) no-repeat; RIGHT: 17px; POSITION: absolute; TOP: -12px; _top: -11px
}
.state_box {
	RIGHT: -14px; POSITION: absolute; DISPLAY: none; TOP: 23px; _right: 3px
}
.state_t {
	BORDER-TOP: #d6a930 1px solid; BORDER-RIGHT: #d6a930 1px solid; BACKGROUND: #fff8e4; WHITE-SPACE: nowrap; BORDER-BOTTOM: #d6a930 1px solid; POSITION: relative; COLOR: #9c7b30; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 15px; BORDER-LEFT: #d6a930 1px solid; PADDING-RIGHT: 15px
}
A.ico_bz_box:hover {
	POSITION: relative
}
A.ico_bz_box:hover .state_box {
	DISPLAY: block
}
.top_per_box {
	BACKGROUND: #f6f5f5; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.group_list_left_box {
	OVERFLOW: auto; BORDER-TOP: #c9d4dc 1px solid; HEIGHT: 700px; BORDER-RIGHT: #c9d4dc 1px solid; WIDTH: 198px; BACKGROUND: #f7fafd; BORDER-BOTTOM: #c9d4dc 1px solid; BORDER-LEFT: #c9d4dc 1px solid
}
.group_list_left_box LI A {
	HEIGHT: 16px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 15px; DISPLAY: block; PADDING-RIGHT: 0px
}
.group_list_left_box LI A IMG {
	VERTICAL-ALIGN: -2px
}
.group_list_left_box LI A:hover {
	BACKGROUND: #ddeefe
}
.group_list_left_box LI.index A {
	BACKGROUND: #ddeefe
}
.textarea_con_01 {
	OVERFLOW: auto; BORDER-TOP: #d1d9e0 1px solid; HEIGHT: 65px; BORDER-RIGHT: #d1d9e0 1px solid; BACKGROUND: #f4fbfd; BORDER-BOTTOM: #d1d9e0 1px solid; COLOR: #666; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; BORDER-LEFT: #d1d9e0 1px solid; PADDING-RIGHT: 10px
}
.con_tit_box .tit {
	FONT-SIZE: 14px; FONT-WEIGHT: bold; COLOR: #333
}
SPAN.sel_group {
	FONT-SIZE: 16px; FONT-WEIGHT: bold; COLOR: #c80202
}
.button_1226 {
	CURSOR: pointer; BORDER-TOP: medium none; HEIGHT: 30px; BORDER-RIGHT: medium none; WIDTH: 92px; BACKGROUND: url(../images/qycc/btn.gif) no-repeat; BORDER-BOTTOM: medium none; FONT-WEIGHT: bold; COLOR: #fff; TEXT-ALIGN: center; BORDER-LEFT: medium none; LINE-HEIGHT: 30px
}
.tab-qycc01 {
	COLOR: #787878; LINE-HEIGHT: 30px
}
.tab-qycc01 SPAN.bq {
	BORDER-TOP: #ead483 1px solid; BORDER-RIGHT: #ead483 1px solid; BACKGROUND: #fef6ce; WHITE-SPACE: nowrap; BORDER-BOTTOM: #ead483 1px solid; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; MARGIN: 3px; BORDER-LEFT: #ead483 1px solid; DISPLAY: block; LINE-HEIGHT: 30px; PADDING-RIGHT: 10px
}
#labels SPAN.bq {
	BORDER-TOP: #ead483 1px solid; BORDER-RIGHT: #ead483 1px solid; BACKGROUND: #fef6ce; WHITE-SPACE: nowrap; BORDER-BOTTOM: #ead483 1px solid; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; MARGIN: 3px; BORDER-LEFT: #ead483 1px solid; DISPLAY: block; LINE-HEIGHT: 30px; PADDING-RIGHT: 10px
}
.cchy_btn_01 {
	CURSOR: pointer; BORDER-TOP: medium none; HEIGHT: 25px; BORDER-RIGHT: medium none; WIDTH: 78px; BACKGROUND: url(../images/cchy/btn1226.gif) no-repeat; BORDER-BOTTOM: medium none; FONT-WEIGHT: bold; COLOR: #fff; TEXT-ALIGN: center; BORDER-LEFT: medium none; LINE-HEIGHT: 25px
}
.cchy_btn_02 {
	CURSOR: pointer; BORDER-TOP: medium none; HEIGHT: 24px; BORDER-RIGHT: medium none; WIDTH: 89px; BACKGROUND: url(../images/cchy/into_btn.gif) no-repeat; BORDER-BOTTOM: medium none; FONT-WEIGHT: bold; COLOR: #007c32; TEXT-ALIGN: center; BORDER-LEFT: medium none; LINE-HEIGHT: 24px
}
.tab_top_head {
	BORDER-TOP: #c7dcef 1px solid; BORDER-RIGHT: #c7dcef 1px solid; BACKGROUND: #ddeefe; BORDER-BOTTOM: #c7dcef 1px solid; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 20px; BORDER-LEFT: #c7dcef 1px solid; PADDING-RIGHT: 20px
}
.tab_top_head .left {
	FONT-SIZE: 14px; FONT-WEIGHT: bold; COLOR: #395b7e
}
.tab_cchy_out {
	BORDER-TOP: #c7dcef 1px solid; BORDER-RIGHT: #c7dcef 1px solid; BORDER-COLLAPSE: collapse; BORDER-BOTTOM: #c7dcef 1px solid; BORDER-LEFT: #c7dcef 1px solid; MARGIN-TOP: -1px
}
.tab_cchy_out TD {
	BORDER-TOP: #e1e1e1 1px dashed; BORDER-RIGHT: #e1e1e1 1px dashed; BORDER-BOTTOM: #e1e1e1 1px dashed; PADDING-BOTTOM: 15px; PADDING-TOP: 15px; PADDING-LEFT: 20px; BORDER-LEFT: #e1e1e1 1px dashed; PADDING-RIGHT: 20px
}
.tab_cchy_inside {
	LINE-HEIGHT: 22px
}
.tab_cchy_inside TD {
	BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-BOTTOM: medium none; COLOR: #666; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; BORDER-LEFT: medium none; PADDING-RIGHT: 0px
}
.cchy_help_center {
	BORDER-TOP: #c7dcef 1px solid; BORDER-RIGHT: #c7dcef 1px solid; BORDER-BOTTOM: #c7dcef 1px solid; BORDER-LEFT: #c7dcef 1px solid
}
.cchy_help_center .tit_box {
	BACKGROUND: #ddeefe; BORDER-BOTTOM: #c7dcef 1px solid; PADDING-BOTTOM: 4px; PADDING-TOP: 8px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px
}
.cchy_help_center .tit_box .tit {
	FONT-SIZE: 14px; FONT-WEIGHT: bold; COLOR: #395b7e
}
.cchy_help_center UL.help {
	PADDING-BOTTOM: 8px; PADDING-TOP: 8px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px
}
.cchy_help_center UL.help LI {
	OVERFLOW: hidden; HEIGHT: 24px; WIDTH: 360px; FLOAT: left; LINE-HEIGHT: 24px
}
.hy_zhibo_box {
	BORDER-TOP: medium none; BORDER-RIGHT: #c7dcef 1px solid; BORDER-BOTTOM: #c7dcef 1px solid; PADDING-BOTTOM: 15px; PADDING-TOP: 15px; PADDING-LEFT: 10px; BORDER-LEFT: #c7dcef 1px solid; PADDING-RIGHT: 10px
}
.top_btn_box_01 {
	BACKGROUND: #f3f6f7; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
UL.zb_li {
	
}
UL.zb_li LI {
	OVERFLOW: hidden; HEIGHT: 25px; WIDTH: 80px; BACKGROUND: url(../images/cchy/zhibo/bg_01.gif) no-repeat; FLOAT: left; TEXT-ALIGN: center; LINE-HEIGHT: 28px; MARGIN-RIGHT: 2px
}
UL.zb_li LI.selected {
	WIDTH: 84px; BACKGROUND: url(../images/cchy/zhibo/selceted_bg.gif) no-repeat; POSITION: relative; BOTTOM: -1px
}
UL.zb_li LI.selected A {
	FONT-WEIGHT: bold; COLOR: #15649d
}
.zb_ended {
	BORDER-TOP: medium none; BORDER-RIGHT: #e1e1e1 1px solid; BACKGROUND: url(../images/cchy/zhibo/ling_bg.gif) repeat-x; BORDER-BOTTOM: #e1e1e1 1px solid; PADDING-BOTTOM: 25px; PADDING-TOP: 25px; PADDING-LEFT: 25px; BORDER-LEFT: #e1e1e1 1px solid; LINE-HEIGHT: 24px; PADDING-RIGHT: 25px
}
.send_email_box_01 {
	BORDER-TOP: medium none; BORDER-RIGHT: #c7ddef 1px solid; BACKGROUND: #f7faff; BORDER-BOTTOM: #c7ddef 1px solid; PADDING-BOTTOM: 20px; PADDING-TOP: 20px; PADDING-LEFT: 0px; BORDER-LEFT: #c7ddef 1px solid; PADDING-RIGHT: 0px
}
.send_email_box_01 .top_t {
	FONT-WEIGHT: bold; COLOR: #666; MARGIN-LEFT: 90px
}
.send_email_box_01 .top_t IMG {
	VERTICAL-ALIGN: -7px
}
.perS .zb_title {
	BORDER-TOP: #b2d1e5 1px solid; HEIGHT: 15px; BORDER-RIGHT: #b2d1e5 1px solid; BORDER-BOTTOM: #b2d1e5 1px solid; POSITION: relative; FONT-WEIGHT: bold; COLOR: #587293; PADDING-BOTTOM: 5px; TEXT-ALIGN: center; PADDING-TOP: 5px; PADDING-LEFT: 0px; BORDER-LEFT: #b2d1e5 1px solid; PADDING-RIGHT: 0px
}
.zb_password_sz {
	BORDER-TOP: #eed49e 1px solid; BORDER-RIGHT: #eed49e 1px solid; WIDTH: 380px; BACKGROUND: #fffbf2; BORDER-BOTTOM: #eed49e 1px solid; POSITION: relative; PADDING-BOTTOM: 4px; PADDING-TOP: 6px; PADDING-LEFT: 10px; BORDER-LEFT: #eed49e 1px solid; PADDING-RIGHT: 10px
}
.zb_password_sz INPUT {
	VERTICAL-ALIGN: -2px; _vertical-align: -3px
}
.zb_float_bg {
	HEIGHT: 38px; WIDTH: 402px; BACKGROUND: #999; POSITION: absolute; LEFT: -1px; FILTER: alpha(opacity=70); TOP: -1px; opacity: 0.7
}
#hy-login-main {
	HEIGHT: 414px; WIDTH: 1000px; BACKGROUND: url(../images/cchy/login/login-content-bg.jpg) no-repeat; PADDING-TOP: 200px; MARGIN: 0px auto
}
.login-box {
	HEIGHT: 257px; WIDTH: 424px; BACKGROUND-IMAGE: url(../images/cchy/login/login-box-bg.png); BACKGROUND-REPEAT: no-repeat; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; MARGIN: 0px auto; PADDING-RIGHT: 10px
}
.login-box .login-head H2 {
	FONT-SIZE: 16px; HEIGHT: 32px; FONT-FAMILY: "Microsoft Yahei"; COLOR: #fff; PADDING-BOTTOM: 0px; PADDING-TOP: 15px; PADDING-LEFT: 15px; PADDING-RIGHT: 0px
}
.login-box .account {
	HEIGHT: 32px; WIDTH: 246px; BACKGROUND: url(../images/cchy/login/zh-bg.gif) no-repeat
}
.login-box .psw {
	HEIGHT: 32px; WIDTH: 246px; BACKGROUND: url(../images/cchy/login/psw-bg.gif) no-repeat
}
.login-box .text-hy {
	BORDER-TOP: 0px; HEIGHT: 32px; BORDER-RIGHT: 0px; WIDTH: 207px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM: 0px; COLOR: #999; PADDING-LEFT: 5px; MARGIN-LEFT: 33px; BORDER-LEFT: 0px; LINE-HEIGHT: 32px; _position: relative
}
.float_hint1 .warning {
	FONT-SIZE: 14px; BACKGROUND: url(../images/warning.gif) no-repeat 10px 25px; FONT-WEIGHT: bold; COLOR: #567391; PADDING-BOTTOM: 20px; TEXT-ALIGN: left; PADDING-TOP: 20px; PADDING-LEFT: 70px; MIN-HEIGHT: 50px; LINE-HEIGHT: 28px; PADDING-RIGHT: 10px; _height: 50px
}
.float_hint1 .qzbox-con {
	FONT-SIZE: 14px; PADDING-BOTTOM: 13px; PADDING-TOP: 13px; PADDING-LEFT: 13px; LINE-HEIGHT: 24px; PADDING-RIGHT: 13px
}
.pages {
	FONT-SIZE: 0.85em; FONT-FAMILY: Tahoma, Helvetica, sans-serif; PADDING-BOTTOM: 3px; TEXT-ALIGN: right; PADDING-TOP: 5px; PADDING-LEFT: 3px; MARGIN: 3px; PADDING-RIGHT: 3px
}
.pages A {
	TEXT-DECORATION: none; BORDER-TOP: #ccdbe4 1px solid; BORDER-RIGHT: #ccdbe4 1px solid; BORDER-BOTTOM: #ccdbe4 1px solid; BACKGROUND-POSITION: 50% bottom; COLOR: #0061de; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 8px; BORDER-LEFT: #ccdbe4 1px solid; PADDING-RIGHT: 8px; MARGIN-RIGHT: 3px
}
.pages A.index {
	BORDER-TOP: #2b55af 1px solid; BORDER-RIGHT: #2b55af 1px solid; BACKGROUND-IMAGE: none; BORDER-BOTTOM: #2b55af 1px solid; COLOR: #fff; BORDER-LEFT: #2b55af 1px solid; BACKGROUND-COLOR: #3666d4
}
.pages A:hover {
	BORDER-TOP: #2b55af 1px solid; BORDER-RIGHT: #2b55af 1px solid; BACKGROUND-IMAGE: none; BORDER-BOTTOM: #2b55af 1px solid; COLOR: #fff; BORDER-LEFT: #2b55af 1px solid; BACKGROUND-COLOR: #3666d4
}
.pages A:active {
	BORDER-TOP: #2b55af 1px solid; BORDER-RIGHT: #2b55af 1px solid; BACKGROUND-IMAGE: none; BORDER-BOTTOM: #2b55af 1px solid; COLOR: #fff; BORDER-LEFT: #2b55af 1px solid; BACKGROUND-COLOR: #3666d4
}
.app-box {
	BORDER-TOP: #c7dcef 1px solid; BORDER-RIGHT: #c7dcef 1px solid; BACKGROUND: #f5f9fc; BORDER-BOTTOM: #c7dcef 1px solid; ZOOM: 1; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 0px; BORDER-LEFT: #c7dcef 1px solid; LINE-HEIGHT: 20px; PADDING-RIGHT: 0px
}
.app-box .del-app LI {
	POSITION: relative; FLOAT: left; TEXT-ALIGN: center; MARGIN: 10px 20px 10px 25px; _display: inline
}
.app-box .del-app LI A {
	DISPLAY: block
}
.app-box .del-app LI A.del {
	RIGHT: 5px; POSITION: absolute; TOP: 0px
}
.app-box .app-subnav {
	FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.app-box .app-subnav SPAN {
	BORDER-RIGHT: #cadef0 1px solid; WIDTH: 120px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 20px; DISPLAY: inline-block; PADDING-RIGHT: 20px
}
.app-box .app-subnav A {
	BORDER-RIGHT: #cadef0 1px solid; COLOR: #333; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 20px; DISPLAY: inline-block; PADDING-RIGHT: 20px
}
.app-box .app-subnav A.index {
	BACKGROUND: #e5f0fb; COLOR: #34659d
}
.app-box .add-app LI {
	FLOAT: left; TEXT-ALIGN: center; MARGIN: 10px 20px 20px 23px; _display: inline
}
.app-box .add-app LI A {
	DISPLAY: block
}
.app-box .add-app LI A.add {
	RIGHT: 5px; POSITION: absolute; DISPLAY: none; TOP: 0px
}
.app-info1 {
	OVERFLOW: hidden; HEIGHT: 95px; WIDTH: 173px; BACKGROUND: url(../images/my_business/pup-bg01.jpg) no-repeat; POSITION: absolute; COLOR: #454545; PADDING-BOTTOM: 0px; TEXT-ALIGN: left; PADDING-TOP: 5px; PADDING-LEFT: 20px; LEFT: 70px; DISPLAY: none; LINE-HEIGHT: 20px; TOP: -10px; PADDING-RIGHT: 20px
}
.app-info2 {
	BACKGROUND: url(../images/my_business/pup-bg02.jpg) no-repeat
}
.app-info1 STRONG {
	MARGIN-BOTTOM: 5px; FONT-SIZE: 14px; DISPLAY: block
}
.news-app-box {
	PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.news-app-box .sub-nav01 LI {
	FLOAT: left
}
.dl_fast_0305 {
	BORDER-TOP: #f5f9fc 1px solid; BORDER-RIGHT: #f5f9fc 1px solid; WIDTH: 220px; BORDER-BOTTOM: #f5f9fc 1px solid; FLOAT: left; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; MARGIN: 10px 20px 0px 25px; BORDER-LEFT: #f5f9fc 1px solid; PADDING-RIGHT: 10px; _display: inline
}
.dl_fast_0305 DT {
	FLOAT: left; MARGIN-RIGHT: 12px
}
.dl_fast_0305 DD {
	COLOR: #333333; LINE-HEIGHT: 22px
}
.dl_fast_0305 DD A.a_link {
	FONT-SIZE: 14px; TEXT-DECORATION: underline; FONT-WEIGHT: bold; COLOR: #075681; LINE-HEIGHT: 30px
}
.dl_fast_0305:hover {
	BORDER-TOP: #aebfcb 1px solid; BORDER-RIGHT: #aebfcb 1px solid; BORDER-BOTTOM: #aebfcb 1px solid; BORDER-LEFT: #aebfcb 1px solid
}
.top-public {
	OVERFLOW: hidden; BORDER-TOP: #ecdba6 1px solid; HEIGHT: 24px; BORDER-RIGHT: #ecdba6 1px solid; BACKGROUND: #fdeebf; BORDER-BOTTOM: #ecdba6 1px solid; COLOR: #555; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 10px; BORDER-LEFT: #ecdba6 1px solid; LINE-HEIGHT: 24px; PADDING-RIGHT: 10px
}
.downs-box {
	FONT-SIZE: 14px; COLOR: #333; MARGIN: 10px 0px; LINE-HEIGHT: 28px
}
.downs-box INPUT {
	FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.company-info-box {
	BORDER-BOTTOM: #d9d9d9 1px dotted; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.company-info-box .write-info {
	MARGIN-BOTTOM: 2px; COLOR: #555
}
.company-info-box .write-info .name {
	FONT-SIZE: 14px; MARGIN: 0px 10px
}
.company-info-box .write-info SPAN {
	DISPLAY: inline-block
}
.company-info-box .write-info SPAN.num {
	FONT-SIZE: 24px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #f32a11
}
.company-info-box .write-info SPAN.num-info {
	BACKGROUND: url(../images/my_business/num-bg.jpg) no-repeat; FONT-WEIGHT: bold; COLOR: #fff; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; PADDING-LEFT: 7px; PADDING-RIGHT: 8px
}
.company-info-box .wsbox {
	POSITION: relative
}
.company-info-box .ws-list {
	BORDER-TOP: #8ec2f5 5px solid; BORDER-RIGHT: #8ec2f5 5px solid; WIDTH: 610px; BACKGROUND: #fff; BORDER-BOTTOM: #8ec2f5 5px solid; POSITION: absolute; LEFT: -270px; BORDER-LEFT: #8ec2f5 5px solid; DISPLAY: none; TOP: 27px
}
.company-info-box .ws-list LI {
	BORDER-BOTTOM: #afd8f5 1px solid; COLOR: #5e5e5e; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.company-info-box .wsbox .jt {
	POSITION: absolute; LEFT: 14px; DISPLAY: none; TOP: 16px
}
.money-box {
	FONT-SIZE: 14px; COLOR: #555; MARGIN-TOP: 10px; LINE-HEIGHT: 24px
}
.money-box SPAN {
	MARGIN-RIGHT: 30px
}
.money-box STRONG {
	COLOR: #2291df
}
.myb-tit {
	BACKGROUND: #f1f8ff; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; PADDING-LEFT: 10px; MARGIN: 10px 0px 20px; LINE-HEIGHT: 24px; PADDING-RIGHT: 10px
}
.fun-list LI {
	MARGIN-BOTTOM: 15px; FLOAT: left; Z-INDEX: 1; MARGIN-RIGHT: 40px
}
.fun-list LI .pos {
	RIGHT: 0px; POSITION: absolute
}
.tab-box {
	BORDER-TOP: #cbdff0 1px solid; BORDER-RIGHT: #cbdff0 1px solid; BORDER-BOTTOM: #cbdff0 1px solid; BORDER-LEFT: #cbdff0 1px solid
}
.tab-box .sub-nav {
	BACKGROUND: #f3f8fd; BORDER-BOTTOM: #cbdff0 1px solid
}
.tab-box .sub-nav LI {
	CURSOR: pointer; FONT-SIZE: 14px; HEIGHT: 28px; BORDER-RIGHT: #cbdff0 1px solid; WIDTH: 90px; FLOAT: left; FONT-WEIGHT: bold; COLOR: #333; PADDING-BOTTOM: 3px; TEXT-ALIGN: center; PADDING-TOP: 3px; PADDING-LEFT: 0px; LINE-HEIGHT: 28px; PADDING-RIGHT: 0px
}
.tab-box .sub-nav LI.index {
	BACKGROUND: #e5f0fb
}
.tab-box .mes-box {
	PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.tab-box .mes-box LI {
	MARGIN: 10px 0px 0px 20px
}
.tab-box .yq-box {
	POSITION: relative; PADDING-BOTTOM: 20px; PADDING-TOP: 20px; PADDING-LEFT: 20px; DISPLAY: none; PADDING-RIGHT: 20px
}
.bgc_02 {
	BACKGROUND: #ddeefe 0px 0px
}
.bgc_01 {
	BACKGROUND: #f1f8ff 0px 0px
}
