TABLE.tablesorter {
	BORDER-TOP: #c7dcef 1px solid; BORDER-RIGHT: #c7dcef 1px solid; BORDER-BOTTOM: medium none; BORDER-LEFT: #c7dcef 1px solid; LINE-HEIGHT: 16px
}
TABLE.tablesorter TH {
	CURSOR: pointer; BORDER-TOP: #fff 1px solid; BACKGROUND: #ddeefe; BORDER-BOTTOM: #c7dcef 1px solid; COLOR: #395b7e; PADDING-BOTTOM: 4px; TEXT-ALIGN: center; PADDING-TOP: 6px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
TABLE.tablesorter TD {
	BACKGROUND: #f9fdff; BORDER-BOTTOM: #c7dcef 1px solid; COLOR: #656563; PADDING-BOTTOM: 6px; TEXT-ALIGN: center; PADDING-TOP: 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
TABLE.tablesorter .even {
	BACKGROUND-COLOR: #3d3d3d
}
TABLE.tablesorter .odd {
	BACKGROUND-COLOR: #6e6e6e
}
TABLE.tablesorter .header {
	BACKGROUND: url(bg.gif) #ddeefe no-repeat 65% center
}
TABLE.tablesorter .headerSortUp {
	BACKGROUND: url(asc.gif) #0ca6e5 no-repeat 65% center; COLOR: #ffffff
}
TABLE.tablesorter .headerSortDown {
	BACKGROUND: url(desc.gif) #0ca6e5 no-repeat 65% center; COLOR: #ffffff
}
TABLE.tablesorter .headerSortUp {
	BACKGROUND-POSITION: right center
}
TABLE.tablesorter .headerSortDown {
	BACKGROUND-POSITION: right center
}
TABLE.tablesorter .header {
	BACKGROUND-POSITION: right center
}
